
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : Vijayan PP
PROJECT :Nim
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.themecolor
{
    color:#32CEB2;/*Defines the theme color*/
}

.theme_background_color,#downloadbt:hover
{
    background-color:#32CEB2; /*Defines the theme bakcground color*/
}

.titlecolor
{
    color:#333333;
}

.blog_button_bgcolor
{
    background-color:#6bb6b4; /*Defines the theme bakcground color*/
}

.blog_button_bgcolor
{
    background-color:#6bb6b4;
}

.brighten_bgcolor
{
    /*background-color: #cbfff0;*/
    /*background-color: #e4fff5;*/
    background-color: #d8feed;
}

.brighten_bgcolor2
{
    /*background-color: #cbfff0;*/
    /*background-color: #e4fff5;*/
    background-color: #defee6;
}

.beige_bgcolor
{
    background-color: #fffeee;
}

.brown-bgcolor
{
    background-color: #ffefa9;
}

.borderColor
{
    border-color:#000;/*Defines the color of the border*/
}
.nim-menu.navbar-default .navbar-nav > li > a:hover
 {
color:#6bb6b4;
}
.social li a:hover
{
    color:#6bb6b4;
}
.sub-footer
{
    border-top-color:#6bb6b4;
}

.work-desc
{
    background:#6bb6b4;
}
.work-desc h3
{
    color:#fff;
}


.black
{
    color:#000;
}

.white
{
    color:#fff;
}
.black-background
{
    background-color:#000;
}

.white-background
{
    background-color:#fff;
}

.grey
{
    color:#676565;
}
.grey_background_color
{
    background-color:#676565;
}

.grey_background_color
{
    background-color: #a9a7a7;
}

.sectionTitle hr
{
  border-color:#6bb6b4;
}

.sectionTitle .line{
    border-color:#fff;
}

.sectionTitle .line hr
{
    border-color:#dbdbdb;
}

ol.type li a:hover{ color:#6bb6b4;}

.ramsh-menu.navbar-default .navbar-nav > li > a:hover,a.fa.fa-angle-down:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus
{
    color:#6bb6b4;
}

.navbar-toggle
{
 
 color:#6bb6b4;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span,#contactbtn:hover {
	
	background:#6bb6b4;
}
.owl-theme .owl-controls .owl-page.active span{
	background:#6bb6b4;
}